@import "../node_modules/tinper-bee-core/scss/minxin-variables";
@import "../node_modules/tinper-bee-core/scss/minxin-mixins";
@import "../node_modules/bee-form-control/src/FormControl.scss";
@import "../node_modules/bee-input-group/src/InputGroup.scss";
.cascader-container{
	position: relative;
}
.cascader-header{
	.cascader-input-group{
		.u-form-control:hover{
			border-color: #66afe9;
		}
		.u-input-group-btn{
			.uf{
				color: #505F79;
				font-size: 14px;
				&.uf-close-c{
					cursor: pointer;
				}
			}
		}
	}

}
.cascader-content{
	position: absolute;
	left: 0px;
	margin-top: 3px;
	display: inline-flex;
	z-index: 2;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
	border-radius: $select-border-radius;
	ul{
		display: inline-block;
		border-left:0;
    	min-width: 100px;
    	vertical-align: middle;
    	padding:0px;
		margin: 0;
		max-height: 250px;
		border-right: 1px solid rgb(235,236,240);
		&:last-child{
			border-right: 0;
		}
	}
	li{
		height: 32px;
		padding: 5px 8px 5px 18px;
		font-size: 14px;
		list-style: none;
		cursor: pointer;
		// margin-bottom: 5px;
		&:hover{
			background-color: $hover-bg-color-base;
			color: $brand-primary;
		}
		&.active{
			background-color: rgb(247,247,247);
			font-weight: bold;
			color: #867777;
		}
		.cascader-list-item{
			display: inline-block;
			width: 56px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		i.uf{
			padding: 0;
			float: right;
			color: #505F79;
			font-size: 12px;
			line-height: 22px;
		}
	}
}	
